<header>
    <div class="header">
        <h1>Header</h1>
        <div class="nav-links">
            <%= link_to "Home", root_path %>
            <%= link_to "New Article", new_article_path %>
        </div>
    </div>
</header>